:root{
    --primary: #003C9E;
    --primary-light:#00b0cf;
    --primary-dark:#000B9E; 
    --secondary:#9E7D00;
    --secondary-two:#9E5500;
    --dominant:#F2E1C4;
    --white:white;
    --black: #000;
    
}

/**Formatações bases**/
body{
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--white);
    max-width: 1920px;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*faz a transição da tela lenta ao invés de instantanea*/

}
a {
    text-decoration: none;
}

li{
    list-style: none;
}

/*Criação do snap-scroll*/

/*aqui é o Pai quem define o snap- scroll*/
html{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory; /*isso permite a snap scroll na vertical*/
}

/*estes são os filhos que irão aparecer de um em um no snap-scroll*/
section{
    height: 100vh;
    scroll-snap-align: start; /*aonde que alinha a snap*/
}

/*estilização da nav bar*/
header {
    background: transparent;
    z-index: 5;
}

div#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    opacity: 0.8;
    background-size: cover;
    background: url(img/logo.png) no-repeat;
    text-indent: -9999px;
    z-index: 10;
}

#navbar{
    list-style: none;
    position:fixed;
    top: 0;
    left: 0;
    float: left;
    margin: 1% 5%;
}

nav a:link,
nav a:visited {
    color: #0C294E;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

nav a:hover{
    color: var(--white);
    background-color: var(--primary-light);
    border-radius: 20px;
}

nav a:active{
    color: var(--primary-dark);
}

nav li {
    float: left;
    padding: 10px;
    /* border: 1px solid #0C294E; */
    /* border-radius: 30%; */
}


/**Estilização da página principal**/
div.titulo_fundo + p {
  margin-top: 3%;
}

/* tudo que não seja o titulo tem um margin lateral */
.conteudo > .fundos >*:not(.titulo_fundo){
    margin-left: 10%;
    margin-right: 10%;

} 

h3{
    color: var(--primary-light);
    backdrop-filter: blur(2px);
    font-size: 2em;
}

h3#titulobrasil{
    color: var(--white);
}

/*seleciona os ps e os li*/
.fundos > p,
#plyr_func > p,
#brasil_achivements > li,
p{
color: white;
text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
background-color: rgba(0,0,0,0.3);
backdrop-filter: blur(2px);
padding: 5px;
margin-top: 7px;
border-radius: 8px;
cursor:default;
}

.conteudo{
    width: 100%;
    margin: 0 auto;
}

.fundos{
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    position:relative;
    object-position: center;
    z-index: 0;
}

.titulo_fundo{
    top: 3%;
    width: 100%;
    text-align: center;
    position: sticky;
    z-index: 11;
}

/* posicionamento do titulo principal */
#tituloprincipal{
    margin-top: 12%;
}

/* estilização do titulo principal */
span.titulo_principal{
    color: var(--primary-dark);
    font-size: 5em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titulo_fundo span.titulo{
    color: var(--primary-dark);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background: var(--white);
    font-size: 3.5em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#pfinal{
    margin-top: 10%;
    font-size: 1.5em;
}

#wiki{
    color: var(--white);
    /* float: left; */
}

#wikiref{
    color: var(--white);
}

#wikiref:hover{
    color: #9E7D00;
    text-decoration:underline;
}

#search_more{
    padding: 10px;
    margin-bottom: 100px;
    background: #ffffff;
    transition: color ease 0.2s;
    border-radius: 15px;
    color: var(--secondary-two);
}

#search_more:hover{
    background: var(--secondary);
    color: var(--white);
}

#posicao_quadra{
    margin-left: 25%;
    float:left;
    margin-right: 5%;
}
#position{
    width: 300px;
    height: auto;
    margin-top:80px;
}

#quadra1{
    float: left;
    margin-top: 50px;
    margin-left: auto;
    /* margin-right: auto; */
}


#linkposition, #fonteposition{
    color: var(--white);
}

#fonteposition{
    display: block;
}

#linkposition:hover{
    color: var(--secondary);
    text-decoration: underline;
}


/*estilização dos gifs de funções*/
.gif{
    width: 300px;
    border: 2px solid var(--secondary);
    float:left;
    margin: 10px;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
}

.imagens_func{
    position: absolute;
    top:100%;
}

.set-group,
.ws-group,
.mb-group,
.op-group,
.li-group{
    display: flex;
    /*flex para se organizarem*/
}

.hover_func:hover h3{
    color: var(--primary);
    cursor: default;

}


#plyr_func{

    position: absolute;
}

/*Estilização das tabelas*/

#table_func{
    background: var(--dominant);
    margin-top:15px;
    margin-bottom:15px;    
}

table#table_func{
    border: 3px double var(--black);
}

#table_func td, #table_func th {
    padding: 2px;
    text-align: center;
}

#table_func td:hover, #table_func th:hover {
    padding: 2px;
    text-align: center;
}

#table_func tr:hover{
    background:#ecd8b4 ;
}

#brasil_achivements{
    background-color: var(--black);
    margin-top: 15px;
    color: var(--white);
}

table#brasil_achivements {
    border: 4px outset var(--white);
}

#brasil_achivements td, #brasil_achivements th{
    padding: 10px;
    text-align: center;

}

/**fotter**/

footer {
    background: var(--dominant);
    color: var(--secondary-two);
    width: 100%;
    margin: 0 auto;

    border-top: 1px solid black;

}

.ft_block span{
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary-two);
}

.ft_block ul{
    padding: 1em;
   
}

.ft_block {
    color: var(--secondary-two);
    float: left;
    margin: 5%;
    
}

.ft_block a{
    color: var(--secondary);
    padding-left:10px;
    transition: color 0.2s ease;
}

.ft_block a:hover{
    color: var(--primary-dark);
}

.ft_block li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
}


#nome{
    margin-top: 20px;
}

#ft_notices input{
    margin: 10px;
    font-size: 1.2em;
}

#ft_notices input::placeholder{
    color: var(--secondary);
    font-size: 1em;
}

/*estilizar o campo selecionado*/
.campo_ft input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary-two);
}

/*estilizando botão submit(inscrever-se)*/
input[type="submit"]{
    border: 2px solid var(--secondary);
    background: var(--dominant);
    color: var(--secondary-two);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    transition: color 0.2s ease;

}

input[type="submit"]:hover{
    border: 2px solid var(--secondary-two);
    background: var(--dominant);
    color: var(--primary);
    padding: 5px;
    border-radius: 10px;
}

/*parte final de direitos do footer*/
#copyright {
    clear: both;
    text-align: center;
}

