:root{
    --primary: #003C9E;
    --primary-light:#006F9E;
    --primary-dark:#000B9E; 
    --secondary:#9E7D00;
    --secondary-two:#9E5500;
    --dominant:#F2E1C4;
    --gray:white;

}


/**Formatações bases**/
body,html {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: var(--gray);

    scroll-behavior: smooth; /*faz a transição da tela lenta ao invés de instantanea*/

}

div.titulo_fundo + p {
  margin-top: 5%;
}

.conteudo > .fundos > *:not(.titulo_fundo) {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-left: 10%;
    margin-right: 10%;

    background-color: rgba(0,0,0,0.3); /* leve camada escura */
    backdrop-filter: blur(2px); /* desfoque do fundo */
    padding: 10px;
    border-radius: 8px;

}

a {
    text-decoration: none;
}

li{
    list-style: none;
}


nav a:link,
nav a:visited {
    color: #0C294E;
    text-transform: uppercase;
}

header {
    background: transparent;
    position: fixed;
    z-index: 5;
}

div#logo {
    margin: 20px;
    width: 120px;
    height: 120px;
    opacity: 0.5;
    background-size: cover;
    background: url(/img/logo.png) no-repeat;
    text-indent: -9999px;
    float: left;
}

#navbar{
    list-style: none;
    float: right;
    margin: 1% 5%;
}

nav li {
    float: left;
    padding: 10px;
    border: 1px solid #0C294E;
}

.conteudo{
    width: 100%;
    margin: 0 auto;
}

.fundos{
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    position:relative;
    object-position: center;
    z-index: 0;

    
}

.titulo_fundo{
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    position: sticky;
}

.titulo_fundo span.titulo{
    color: var(--primary);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background: var(--gray);
    font-size: 3.5em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/*Criação do snap-scroll*/

/*aqui é o Pai quem define o snap- scroll*/
article{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /*isso permite a snap scroll na vertical*/
}

/*estes são os filhos que irão aparecer de um em um no snap-scroll*/
section{
    height: 100vh;
    scroll-snap-align: start; /*aonde que alinha a snap*/
    display: flex;
}



/**fotter**/

footer {
    border: 1px solid;

    width: 80%;
    margin: 0 auto;

}

.ft_block span{
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px solid var(--secondary);
}

.ft_block ul{
    padding: 1em;
}

.ft_block {
    /* border: 1px solid; */
    color: var(--secondary-two);
    float: left;
    margin: 5%;
    
}

.ft_block a{
    color: var(--secondary);
    padding-left:10px;
}

.ft_block a:hover{
    color: var(--primary-dark);
}

.ft_block li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
}


#nome{
    margin-top: 20px;
}


#ft_notices input{
    margin: 10px;
    font-size: 1em;
}

#ft_notices input::placeholder{
    color: var(--primary);
    font-size: 1em;
}



/*estilizar o campo selecionado*/

.campo_ft input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary);

}


/*parte final de direitos do footer*/
#copyright {
    clear: both;
    text-align: center;
}

