/* :root{
    --primary: #fff;
} */


#animation{
    color: red;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 1px solid #0C294E;
    line-height: 50px;
}

#animation span{
    display: block;
    background-color: black;
    transition: 2s;
}


/**Formatações bases**/
body,html {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: #dddddd;

    scroll-behavior: smooth; /*faz a transição da tela lenta ao invés de instantanea*/

}

a {
    text-decoration: none;
}


nav a:link,
nav a:visited {
    color: #0C294E;
    text-transform: uppercase;
}

header {
    background: transparent;
    position: fixed;
    z-index: 5;
}

div#logo {
    margin: 20px;
    width: 120px;
    height: 120px;
    opacity: 0.5;
    background-size: cover;
    background: url(/img/logo.png) no-repeat;
    text-indent: -9999px;
    float: left;
}

#navbar{
    list-style: none;
    float: right;
    margin: 1% 5%;
}

nav li {
    float: left;
    padding: 10px;
    border: 1px solid #0C294E;
}

.conteudo{
    width: 100%;
    margin: 0 auto;

}

.fundos{
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    position:relative;
    object-position: center;
    z-index: 0;
}

.titulo_fundo{
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    position: sticky;
}

.titulo_fundo span.titulo{
    color: #0C294E;
    background: #c2c2c2;
    font-size: 3.5em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/*Criação do snap-scroll*/

/*aqui é o Pai quem define o snap- scroll*/
article{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /*isso permite a snap scroll na vertical*/
}

/*estes são os filhos que irão aparecer de um em um no snap-scroll*/
section{
    height: 100vh;
    scroll-snap-align: start; /*aonde que alinha a snap*/
    display: flex;
}



/**estilização da quadra animada*/
#quadra {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background: #F78C59;
    position: relative;
}

#linha{
    width: 300px;
    height: 2px;
    background: black;
    margin-top: 100px;

}

.player {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    /*define a altura da linha, importante para dimencionar/posicionar os texto*/
    background: red;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
}



/**fotter**/

footer {
    border: 1px solid;

    width: 80%;
    margin: 0 auto;

}

.ft_block span{
    text-transform: uppercase ;
}

.ft_block ul{
    padding: 1em;
}

.ft_block {
    border: 1px solid;
    color: black;
    float: left;
    margin: 5%;
    
}

.ft_block a{
    color: black;
    padding-left:10px;
}

.ft_block a:hover{
    color: #ff1414;
}

.ft_block li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
}

#ft_notices input{
    margin: 10px;
}


/*estilizar o campo selecionado*/
#ft_notices input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid#0C294E;

}




#copyright {
    clear: both;

    text-align: center;
}

